<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

<context:annotation-config/>

    <bean id="triangle" class="org.shailendra.singh.Triangle">
        <property name="pointA" ref="pointA"/>
        <property name="pointB" ref="pointB"/>
        <property name="pointC" ref="pointC"/>
    </bean>

    <bean id="pointA" class="org.shailendra.singh.Point">
        <property name="x" value="20"/>
        <property name="y" value="20"/>
    </bean>

    <bean id="pointB" class="org.shailendra.singh.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointC" class="org.shailendra.singh.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>


    <!-- the student bean contains address bean -->
    <bean id="student" class="org.shailendra.singh.Student">
        <constructor-arg value="ross"/>
        <constructor-arg ref="address"/>
    </bean>

    <!-- the addr to be passed to student -->
    <bean id="address" class="org.shailendra.singh.Address">
        <property name="city" value="New York City"/>
        <property name="state" value="New York"/>
    </bean>

    <!-- the question bean contains answer bean -->
    <bean id="q1" class="org.shailendra.singh.Question">
        <constructor-arg value="001"/>
        <constructor-arg value="Who designed and implemented Spring framework?"/>
        <constructor-arg ref="a1"/>
    </bean>

    <bean id="a1" class="org.shailendra.singh.Answer">
        <property name="qid" value="001"/>
        <property name="answers">
            <list>
                <value>Rod Johnson</value>
                <value>James Gosling</value>
                <value>Russo van</value>
                <value>None</value>
            </list>
        </property>
    </bean>

    <bean id="q2" class="org.shailendra.singh.Question">
        <constructor-arg value="002"/>
        <constructor-arg value="Who designed and implemented Python?"/>
        <constructor-arg ref="a2"/>
    </bean>

    <bean id="a2" class="org.shailendra.singh.Answer">
        <property name="qid" value="002"/>
        <property name="answers">
            <list>
                <value>Rod Johnson</value>
                <value>James Gosling</value>
                <value>Russo van</value>
                <value>None</value>
            </list>
        </property>
    </bean>


    <!-- passing question map -->
    <bean id="qmap" class="org.shailendra.singh.Question2">
        <constructor-arg>
            <map>
                <entry key="001" value-ref="q1"/>
                <entry key="002" value-ref="q2"/>
            </map>
        </constructor-arg>
    </bean>

    <!-- bean for person; autowired(byType is default) to customer bean; -->
    <bean id="person1" class="org.shailendra.singh.Person">
        <property name="age" value="23" />
        <property name="gender" value="m"/>
        <property name="name" value="joe"/>
    </bean>

    <!-- property person is autowired -->
    <bean id="cust1" class="org.shailendra.singh.Customer">
        <property name="itemsInCart" value="12"/>
    </bean>

</beans>